{% extends 'base.html' %}
{% block body %}
    <h3 style="display:inline">{{ post.content }}</h3>
    {% if post.user == user %}
        <form action="{% url 'posts:delete' post.pk %}" method="POST" onsubmit="return confirm('삭제하시겠습니까?')" style="display:inline" class="float-right">
        {% csrf_token %}
        <input type="image" id="image" alt="..." src="/media/delete.png">
    </form>    
    <a href="{% url 'posts:update' post.pk %}" class="float-right"><input type="image" id="image" alt="..." src="/media/edit.png"></a>
    {% endif %}
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            {% for image in post.image_set.all %}
            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
              <img src="{{ image.file.url }}" class="d-block mx-auto" alt="{{ image.file }}" height="600px">
            </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    {% if user in post.like_users.all %}
      <a href="{% url 'posts:like' post.pk %}"><i class="fas fa-heart fa-2x" style="color:lightcoral;"></i></a>
    {% else %}
      <a href="{% url 'posts:like' post.pk %}"><i class="far fa-heart fa-2x" style="color:lightcoral;"></i></a>
    {% endif %}
    <span>{{ post.like_users.count}}명이 좋아요를 눌렀습니다.</span>
    
{% endblock %}

