{% extends 'base.html' %}
{% block style %}
    <style>
    p{
        /*font-family: 'Courgette', cursive;*/
        font-family: 'Cute Font', cursive;
        font-size : x-large;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
    {% for post in posts %}
    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="card">
          <a href="{% url 'posts:detail' post.pk %}" ><img src="{{ post.image_set.first.file.url }}" class="rounded mx-auto d-block card-img-top img-fluid" alt="post-{{post.pk}}-image-1"></a>
          <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
          </div>
        </div>
    </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
